[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
flask = "*"
flask-restful = "*"
flask-restplus = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
cryptography = "*"
psycopg2 = "==2.7.7"
gunicorn = "*"
marshmallow = "*"
pylint-flask = "*"
flask-jwt-extended = "*"
pyjwt = "*"
marshmallow-enum = "==1.4.1"

[requires]
python_version = "3.6"
